.scroll-buttons {
	display: flex;
	align-items: center;
}

.scroll-buttons__button {
	width: 34px;
	height: 43px;
	font-size: 19px;
	line-height: 22px;
	background: transparent;
	padding: 0;
	border: 1px solid #4d515d;
	box-sizing: border-box;
	color: #6e7483;

	transition: all 0.1s linear;
}

.scroll-buttons__button:first-of-type {
	margin-right: 10px;
}

.scroll-buttons__button:hover {
	cursor: pointer;
	color: #d5d9e3;
	border: 1px solid #777b8a;
}

.scroll-buttons__button_light {
	border: 1px solid #585E67;
	color: #2B2D33;
}

.scroll-buttons__button_light:hover {
	border: 1px solid #AEB2BA;
	color: #8E9199;
}