.App {
	font-family: Montserrat;
}

.title {
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 52px;
	color: #2b2d33;

	margin: 0;
}

.title_dark {
	color: #fff;
}

@media screen and (max-width: 1200px) {
	.title {
		font-size: 28px;
		line-height: 41px;
	}
}

@media screen and (max-width: 767px) {
	.title {
		font-size: 26px;
		line-height: 38px;
	}
}