.news-card {
	width: 380px;
	display: inline-flex;
	flex-direction: column;

	margin-right: 30px;
	pointer-events: none;
}

.news-card:last-child {
	margin-right: 0;
}

.news-card__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #2b2d33;

	margin: 0;
	white-space: normal;
}

.news-card__image {
	pointer-events: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.news-card__date {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #6c525b;
	margin: 21px 0 14px;
}

@media screen and (max-width: 1200px) {
	.news-card {
		width: 349px;
	}

	.news-card__title {
		font-size: 16px;
		line-height: 22px;
	}
}

@media screen and (max-width: 767px) {
	.news-card {
		width: 287px;
	}

	.news-card__title {
		font-size: 16px;
		line-height: 22px;
	}
}
